@use "/src/scss/util/" as u;

.about {
	display: initial;

	&__content-blocks {
		display: grid;
		gap: u.rem(32);
	}
}

.content-block {
	display: flex;
	align-items: center;
	gap: u.rem(32);

	border-radius: var(--br-mid);
	background-color: var(--background-primary-shade);

	padding: u.rem(16);

	& > * {
		flex: 1;
	}

	&:nth-of-type(odd) {
		flex-direction: row-reverse;

		@include u.breakpoint-down(small) {
			flex-direction: column;
		}
	}

	@include u.breakpoint-down(small) {
		flex-direction: column;
	}

	&__image {
		flex-basis: 40%;
		flex-grow: 0;
		object-fit: cover;
		aspect-ratio: 3 / 2;
		border-radius: var(--br-light);
	}

	&__content {
		padding: u.rem(16);
	}
}
