@use "/src/scss/util" as u;

.opening-times {
  background-color: var(--background-primary-shade);

	&__list {
		margin-block-end: u.rem(32);
		max-width: max(60ch, 300px);
		border-radius: var(--br-light);
	}

	&__list-item {
		display: flex;
    justify-content: space-between;
		gap: u.rem(8);
		padding: u.rem(16) 0;

    border-top: solid 2px var(--background-secondary-shade);  
	}

	&__times {
		display: flex;
		justify-content: center;
		gap: u.rem(4);
		text-transform: uppercase;
	}

	&__time {
		font-weight: 700;
	}

	&__connector {
		display: inline-block;
		font-weight: 600;
		transform-origin: bottom;
		scale: 0.8;
	}
}
