@use "/src/scss/util/" as u;

.quote {
	& > * {
		font-size: u.rem(20);
		font-size: clamp(u.rem(20), 0.125rem + 2vw, u.rem(24));
	}

	&__quotation {
		font-style: italic;

		&::before,
		&:after {
			content: '"';
		}
	}

	&__author {
		margin-block-start: u.rem(16);

		font-weight: 700;
		text-align: right;
		text-transform: uppercase;

		color: var(--heading-secondary);

		&::before {
			content: "–";
			margin-inline-end: 0.5ch;
		}
	}
}
