@use "/src/scss/util/" as u;

.footer {
	padding-block: u.rem(48);

	color: hsl(0, 0%, 95%);
	background-color: hsl(0, 0%, 0%);

	&__copyright-wrapper {
		margin-block-end: u.rem(48);
	}

	&__copyright-heading {
		margin-block-end: u.rem(8);
		font-size: u.rem(20);
		line-height: 1.2;
		text-transform: uppercase;
		color: var(--cl-primary-tint);
	}

	&__content-wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: u.rem(32) u.rem(48);

		@include u.breakpoint(medium) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&__links {
		display: flex;
		flex-direction: column;
		gap: u.rem(8);
	}

	&__links-heading {
		margin-block-end: u.rem(8);

		font-family: var(--sans-serif);
		font-size: u.rem(16);
		font-weight: 700;
		text-transform: uppercase;

		color: hsl(0, 0%, 100%);
	}

	&__link {
		max-width: fit-content;

		font-family: var(--sans-serif);
		font-size: u.rem(16);
		font-weight: 400;
		color: hsl(0, 0%, 90%);
		line-height: 1.3;

		transition-property: opacity;
		transition-duration: 400ms;

		&:hover {
			opacity: 0.6;
		}
	}
}
