@use "/src/scss/util" as u;

.legal {
	&__subheading {
    margin-block-end: u.rem(12);
    margin-block-end: clamp(u.rem(12), 0.8125rem + 1vw, u.rem(16));
  
    font-size: u.rem(24);
    font-size: clamp(u.rem(24), 0.625rem + 2vw, u.rem(32));
		margin-block-start: u.rem(32);
		color: var(--foreground-tint);
	}

	&__paragraph {
		margin-block: u.rem(8);
	}

	&__list {
		margin-block: u.rem(8);
	}

	&__list-item {
		list-style: disc;
		margin-block: u.rem(4);
		margin-inline-start: u.rem(16);
	}

	&__link {
		color: var(--cl-primary);
		font-weight: 600;

		&:hover {
			text-decoration: underline;
			text-decoration-thickness: 1px;
		}
	}
}
