@use "/src/scss/util" as u;

.hero {
	--navigation-height: 80px;

	position: relative;

  &--cover-img {
    &::after {
      content: "";
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(270deg, hsl(0, 0%, 0%, 0.1), hsl(0, 0%, 0%, 0.4));
      z-index: 0;
    }
  }

	&__cover-img,
  &__cover {
		display: flex;
		position: relative;
		height: 30vh;

		object-fit: cover;

		background-image: linear-gradient(var(--cl-primary), var(--cl-secondary-tint));

		@include u.breakpoint(medium) {
			height: 40vh;
		}
	}

	&__content {
		box-sizing: border-box;
		align-content: center;
		gap: u.rem(32);
		padding-block: 32px;
		z-index: 1;

		width: 100%;
		position: absolute;
		top: 70%;
		transform: translate(0, -50%);

		& > * {
			max-width: 70%;
			color: white !important;
			text-shadow: 0 0 8px hsl(0, 0%, 0%, 0.5);
		}
	}

	&__heading {
		margin-block-end: 0;
		font-size: u.rem(54);
		font-size: clamp(u.rem(54), 1.40625rem + 4.5vw, u.rem(72));
		text-wrap: pretty;
	}
}
