@use "/src/scss/util" as u;

.contact {
	@include u.breakpoint(large) {
		&__wrapper {
			display: flex;
			gap: u.rem(32);

			& > * {
        flex: 1;
			}
		}
	}

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    gap: u.rem(32);
    padding: u.rem(32);
    
    border-radius: var(--br-mid);
    background-color: var(--background-primary-shade);
  }
}

