@use "/src/scss/util" as u;

.contact {
	@include u.breakpoint(large) {
		&__wrapper {
			display: flex;
			flex-direction: row-reverse;
			gap: u.rem(32);

			& > * {
				flex: 0 0 50%;
				min-width: 100px;
			}
		}
	}
}
