@use "/src/scss/util/" as u;

.content-block {
	display: flex;
	flex-direction: column;
	gap: u.rem(16);

	border-radius: var(--br-mid);
	background-color: var(--background-primary-shade);

	padding: u.rem(16);

	@include u.breakpoint(medium) {
		flex-direction: row;
		align-items: center;
		gap: u.rem(32);

		&:nth-of-type(odd) {
			flex-direction: row-reverse;
		}
	}

	&__image {
		object-fit: cover;
		aspect-ratio: 3 / 2;
		border-radius: var(--br-light);

		@include u.breakpoint(medium) {
			max-width: 40%;
		}
	}

	&__content {
		flex: 1;
		padding: u.rem(16);
	}
}
