@use "/src/scss/util/" as u;

.nav__wrapper {
	position: absolute;
	top: 0;
	z-index: 2;
	width: 100vw;

	background-image: linear-gradient(hsl(0, 0%, 0%, 0.2) 30%, transparent);
	background-color: transparent;

	@include u.breakpoint-down(medium) {
		transition-property: background-color;
		transition-duration: 400ms;
		transition-delay: 300ms;
		background-image: none;

		&:has(.open) {
			background-color: var(--cl-primary-shade);
			transition-duration: 400ms;
			transition-delay: 0ms;
		}
	}
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: u.rem(32);

	padding: u.rem(16) 0;
	background-color: var(--cl-background-primary);
	background-color: transparent;

	& > * {
		flex: 1;
	}

	&__home-link {
		max-width: fit-content;
		opacity: 1;
	}

	&__logo {
		--logo-size: clamp(96px, -5rem + 16vw, 128px);

		height: var(--logo-size);
		width: var(--logo-size);
	}

	&__links {
		display: flex;
		gap: u.rem(20);
		padding: 0;

		& li {
			list-style: none;
		}
	}

	&__link {
		display: block;

		font-family: var(--sans-serif);
		font-size: u.rem(14);
		font-size: clamp(u.rem(14), 0.25rem + 1vw, u.rem(16));
		font-weight: 900;
		color: white;

		opacity: 0.6;
		transition-property: opacity, color;
		transition: 800ms;

		&:hover {
			text-decoration: none;
			opacity: 1;
			color: var(--cl-primary-tint);
			transition: 400ms;
		}

		&--active {
			opacity: 1;
		}

		&::after {
			content: "";
			display: block;
			border-bottom: solid 2.5px transparent;

			transition-property: border-color;
			transition: 800ms;
		}

		&:hover {
			&::after {
				border-bottom: solid 2.5px var(--cl-primary);
				transition: 400ms;
			}
		}
		&--active {
			&::after {
				border-bottom: solid 2.5px white;
				transition: 400ms;
			}
		}
	}

	&__social-links {
		display: flex;
		justify-content: flex-end;
	}

	&__social-icon {
		width: 2ch;
		height: 2ch;
	}
}
