@keyframes fade {
	from {
		opacity: 0;
	}
}

@keyframes transform-x {
	from {
		transform: translateX(-4rem);
	}
}

@keyframes grow {
	to {
		transform: scale(1.2);
	}
}

@keyframes wobble {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(15deg); }
  30% { transform: rotate(-10deg); }
  45% { transform: rotate(6deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(2deg); }
  100% { transform: rotate(0deg); }
}
