@use "/src/scss/util/" as u;

:root {
	--sans-serif: "Poppins", sans-serif;
	--script: "Amatic SC", serif;

	font-family: var(--script);
	font-style: normal;
	font-weight: 400;
	font-optical-sizing: auto;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	line-height: 1.5;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: var(--sans-serif);
}

h1 {
	margin-block-end: u.rem(32);
	font-family: var(--script);
	font-size: u.rem(40);
	font-size: clamp(u.rem(40), 1.7rem + 4.1vw, u.rem(72));
	font-weight: 700;
	line-height: 1;
	letter-spacing: -0.1rem;
	text-wrap: balance;
	color: var(--heading-primary);
}

h2 {
	margin-block-end: u.rem(32);
	font-family: var(--sans-serif);
	font-size: u.rem(32);
	font-size: clamp(u.rem(32), 0.25rem + 4vw, u.rem(48));
	font-weight: 700;
	line-height: 1;
	text-wrap: balance;
	letter-spacing: -1px;
	color: var(--cl-secondary);
}

h3 {
	margin-block-end: u.rem(24);
	font-family: var(--sans-serif);
	font-size: u.rem(24);
	font-size: clamp(u.rem(24), 0.625rem + 2vw, u.rem(32));
	font-weight: 700;
	line-height: 1;

	color: var(--text-primary);
}

p {
	max-width: 60ch;

	&:not(:last-child) {
		margin-block-end: u.rem(16);
	}
}

p,
li,
dt,
dd,
a {
	font-size: u.rem(16);
	font-size: clamp(u.rem(16), 0.78125rem + 0.5vw, u.rem(18));
	line-height: 1.3;
	text-wrap: pretty;

	&.small {
		font-size: u.rem(14);
		font-size: clamp(u.rem(14), 0.65625rem + 0.5vw, u.rem(16));
	}

	&.medium {
		font-size: u.rem(16);
		font-size: clamp(u.rem(16), 0.5625rem + 1vw, u.rem(20));
		font-weight: 500;

		&:not(:last-child) {
			margin-block-end: u.rem(16);
			margin-block-end: clamp(u.rem(16), 0.5625rem + 1vw, u.rem(20));
		}
	}

	&.large {
		font-size: u.rem(20);
		font-size: clamp(u.rem(20), 1.14rem + 0.49vw, u.rem(24));
	}
}

p,
span,
li {
	font-family: var(--sans-serif);
}
