@use "/src/scss/util/" as u;

.publication {
	max-width: 60ch;
	display: flex;
	flex-direction: column;
	gap: u.rem(12);

	border-width: 1.5px;
	padding: u.rem(20);

	background-color: var(--background-primary-shade);
	border-style: solid;
	border-color: transparent;
	border-radius: var(--br-light);

	transition-property: border-color;
	transition-duration: 1200ms;

	&:hover {
		border-color: var(--cl-primary);
		transition-duration: 400ms;
	}

	&__title {
		margin-block-end: u.rem(16);
	}

	&__year {
		display: inline;

		font-family: var(--sans-serif);
		font-weight: 700;
		text-transform: uppercase;

		color: var(--text-secondary);
		opacity: 0.8;
	}

	&__instrument {
		display: inline;

		font-family: var(--sans-serif);
		font-weight: 700;
		text-transform: uppercase;

		color: var(--heading-secondary);

		&:not(:last-child)::after {
			content: ",";
			margin-inline-end: 0.5ch;
		}
	}

	&__description {
		flex: 1;
		color: var(--text-secondary);
		margin-block-end: u.rem(8);
	}

	&__link {
		font-weight: 500;
		text-transform: uppercase;
		text-wrap: pretty;
		text-decoration-thickness: 1px;
		text-underline-offset: 2px;
		line-height: 1.2;

		color: var(--cl-primary);

		&:hover {
			text-decoration: underline;
			text-decoration-thickness: 1px;
		}

		& .new-tab-message {
			display: block;
			margin-block-start: u.rem(4);
			font-family: inherit;
			font-weight: 300;
			opacity: 0.75;
		}
	}
}
